.quill {
  @apply bg-slate-100 dark:bg-slate-900;
}

.ql-toolbar {
  @apply rounded-t-md dark:border-gray-500 !important;
}

.ql-container {
  @apply rounded-b-md dark:border-gray-500 !important;
}

.ql-editor {
  @apply min-h-[200px] md:min-h-[250px];
}

.ql-editor p,
.ql-blank {
  @apply text-base !important;
}

.ql-editor h3 {
  @apply text-lg !important;
}

.ql-editor h2 {
  @apply text-2xl !important;
}

.ql-editor h1 {
  @apply text-3xl !important;
}

#html .ql-formats button,
#html .ql-picker,
#html .ql-toolbar .ql-picker .ql-picker-label,
.ql-tooltip input {
  @apply dark:text-gray-300 text-black;
}

#html .ql-formats button.ql-active {
  color: #06c;
}

.ql-picker-options {
  @apply text-gray-700 !important;
}

.ql-stroke {
  stroke: currentColor !important;
}

.ql-fill {
  fill: currentColor !important;
}

.ql-editor.ql-blank::before {
  @apply dark:text-gray-400;
}

.ql-editor img {
  animation: skeleton 1s ease-in-out infinite alternate;
  @apply bg-gray-500/30 rounded-md;
}

.html-display > * {
  @apply cursor-auto;
}

.ql-editor blockquote,
.ql-editor pre {
  @apply text-base;
}

.ql-editor li {
  padding-left: 0em !important;
  padding-right: 0em !important;
  @apply text-base;
}

.ql-editor .ql-indent-1 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.ql-editor .ql-indent-2 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.ql-editor .ql-indent-3 {
  padding-left: 3em !important;
  padding-right: 3em !important;
}

.ql-editor .ql-indent-4 {
  padding-left: 4em !important;
  padding-right: 4em !important;
}

.ql-editor .ql-indent-5 {
  padding-left: 5em !important;
  padding-right: 5em !important;
}

.ql-editor .ql-indent-6 {
  padding-left: 6em !important;
  padding-right: 6em !important;
}

.ql-editor .ql-indent-7 {
  padding-left: 7em !important;
  padding-right: 7em !important;
}

.ql-editor .ql-indent-8 {
  padding-left: 8em !important;
  padding-right: 8em !important;
}
